### Print # for 4x4 matrix

In [4]:
print("#")

#

In [2]:
print("#")
print("#")
print("#")
print("#")

#
#
#
#

In [3]:
print("#", end=" ")
print("#", end=" ")
print("#", end=" ")
print("#", end=" ")

# # # #

In [5]:
for j in range(4):
    print("#", end=" ")

# # # #

In [6]:
# Print # for 4x4 matrix

for j in range(4):
    print("#", end=" ")
    
print()

for j in range(4):
    print("#", end=" ")
    
print()

for j in range(4):
    print("#", end=" ")
    
print()

for j in range(4):
    print("#", end=" ")
    
print()

# # # #
# # # #
# # # #
# # # #

In [7]:
# Print # for 4x4 matrix

for i in range(4):   # i = row
    for j in range(4):    # j = col
        print("#", end=" ")

    print()

# # # #
# # # #
# # # #
# # # #

In [8]:
# pattern for triangle

for i in range(4):   # i = row
    for j in range(i):    # j = col
        print("#", end=" ")

    print()

#
# #
# # #

In [9]:
# pattern for triangle

for i in range(4, 0, -1):   # i = row
    for j in range(4-i, 0, -1):    # j = col
        print("#", end=" ")

    print()

#
# #
# # #

In [10]:
# pattern for triangle

for i in range(4):   # i = row
    for j in range(i+1):    # j = col
        print("#", end=" ")

    print()

#
# #
# # #
# # # #

In [11]:
# pattern for triangle

for i in range(4):   # i = row
    for j in range(4-i):    # j = col
        print("#", end=" ")

    print()

# # # #
# # #
# #
#

In [12]:
r=4 # no. of rows

for i in range(r):
    for j in range(r-i):  
        if j<=(r-i):
            print("#", end=" ")
        
    print()

# # # #
# # #
# #
#

In [13]:
r=4 # no. of rows

for i in range(1, r+1):
    for j in range(1, r+1):  
        if j<=(r-i):
            print(" ", end=" ")
        else:
            print("#", end=" ")
        
    print()

      #
    # #
  # # #
# # # #

In [14]:
# Pattern with numbers

r=5 # no. of rows

for i in range(r):
    for j in range(r-i):  
        if j<=(r-i):
            print((i+1), end=" ")
        
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [15]:
# Making triangle using natural numbers

r=5 # no. of rows
num=1

for i in range(r):   # i = row
    for j in range(i+1):    # j = col
            print(num, end=" ")
            num += 1

    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [16]:
n = int(input())

for i in range(n):
    for j in range(n-i):
        print(end=" ")
    for j in range(i+1):
        print("*", end=" ")
    print()

5
     *
    * *
   * * *
  * * * *
 * * * * *

In [17]:
n = int(input())

for i in range(n):
    print(" "*(n-i-1), end=" ")
    print("*"*(2*i+1), end=" ")
    print()

5
     *
    ***
   *****
  *******
 *********

In [18]:
n = int(input())
x = '*'
for i in range(n):
    print((x*(i+1)).ljust(n-1))

5
*
**
***
****
*****

In [19]:
n = int(input())

for i in range(n):
    print(" "*(n-i-1), end=" ")
    print("*"*(2*i+1), end=" ")
    print()

for i in range(n, 1, -1):
    print(" "*(n-i+1), end=" ")
    print("*"*(2*i-3), end=" ")
    print()

6
      *
     ***
    *****
   *******
  *********
 ***********
  *********
   *******
    *****
     ***
      *

In [20]:
n = int(input())

for i in range(n):
    for j in range(n-i):
        print(end=" ")
    for j in range(i+1):
        print("*", end=" ")
    print()

for i in range(n, 0, -1):
    for j in range(n-i+2):
        print(end=" ")
    for j in range(i-1):
        print("*", end=" ")
    print()

6
      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

In [21]:
n = 5

for i in range(1, n+1):
    # To give space before 
    # printing stars in 
    # upper part of arrow
    for j in range(i):
        print(" ",end="")
          
   
    # To print stars in upper
    # part of the arrow
    for j in range(i):
        print("*",end="")
          
    print()
    
# lower part of the arrow
for i in range(n):
    # To give space before printing
    # stars in lower part of arrow
    for j in range (n-i):
        print(" ",end="")
          
   
    # To print stars in lower
    # part of the arrow
    for j in range (n-i-1):
        print("*",end="")
          
    print()

 *
  **
   ***
    ****
     *****
     ****
    ***
   **
  *